openapi: 3.0.3
info:
  title: SiteWorks API
  description: API for managing construction projects, workers, teams, materials, and more.
  version: 1.0.0
  contact:
    name: SiteWorks Support
    email: support@siteworks.com
    url: https://docs.siteworks.com

servers:
  - url: https://api.siteworks.com/v1
    description: Production Server
  - url: https://staging.api.siteworks.com/v1
    description: Staging Server

paths:
  /auth/token:
    post:
      summary: Obtain an authentication token
      description: Generate a JWT token using OAuth 2.0 client credentials.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: The client ID issued to the application.
                client_secret:
                  type: string
                  description: The client secret issued to the application.
                grant_type:
                  type: string
                  enum: [client_credentials]
                  description: Must be 'client_credentials' for machine-to-machine authentication.
      responses:
        "200":
          description: Successfully generated JWT token.
        "400":
          description: Bad request, invalid input.
        "401":
          description: Unauthorized, invalid credentials.
        "500":
          description: Internal server error.

  /workers:
    get:
      summary: Get a list of workers
      description: Retrieve all registered workers in the system.
      responses:
        "200":
          description: A list of workers.
        "401":
          description: Unauthorized.
        "404":
          description: Workers not found.
    post:
      summary: Register a new worker
      description: Add a new worker to the system.
      responses:
        "201":
          description: Worker created successfully.
        "400":
          description: Bad request, invalid data.

  /teams:
    get:
      summary: Get construction teams
      description: Retrieve a list of teams assigned to various construction sites.
      responses:
        "200":
          description: List of teams.
        "401":
          description: Unauthorized.
        "404":
          description: Teams not found.
    post:
      summary: Create a new team
      description: Register a new construction team.
      responses:
        "201":
          description: Team created successfully.
        "400":
          description: Bad request, invalid data.

  /projects:
    get:
      summary: Get construction projects
      description: Retrieve details of all active and past construction projects.
      responses:
        "200":
          description: List of projects.
        "401":
          description: Unauthorized.
        "404":
          description: Projects not found.
    post:
      summary: Create a new project
      description: Register a new construction project.
      responses:
        "201":
          description: Project created successfully.
        "400":
          description: Bad request, invalid data.

  /materials:
    get:
      summary: Get construction materials
      description: Retrieve a list of materials used in construction sites.
      responses:
        "200":
          description: List of materials.
        "401":
          description: Unauthorized.
        "404":
          description: Materials not found.
    post:
      summary: Add new material
      description: Register a new construction material.
      responses:
        "201":
          description: Material added successfully.
        "400":
          description: Bad request, invalid data.

  /subcontractors:
    get:
      summary: Get subcontractors
      description: Retrieve a list of subcontractors working with SiteWorks projects.
      responses:
        "200":
          description: List of subcontractors.
        "401":
          description: Unauthorized.
        "404":
          description: Subcontractors not found.
    post:
      summary: Register a subcontractor
      description: Add a new subcontractor to the system.
      responses:
        "201":
          description: Subcontractor registered successfully.
        "400":
          description: Bad request, invalid data.

  /clients:
    get:
      summary: Get clients
      description: Retrieve a list of clients associated with SiteWorks projects.
      responses:
        "200":
          description: List of clients.
        "401":
          description: Unauthorized.
        "404":
          description: Clients not found.
    post:
      summary: Register a client
      description: Add a new client to the system.
      responses:
        "201":
          description: Client registered successfully.
        "400":
          description: Bad request, invalid data.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
